<table mat-table [dataSource]="dataSource()">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef>{{getColumnName(column)}}</th>
    <td mat-cell *matCellDef="let user">{{user[column]}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let user; columns: displayedColumns;" (click)="onClick(user)"></tr>
</table>
<p class="empty-row" *ngIf="isTableEmpty()">No People Entered</p>
<mat-paginator [length]="totalCount()"
               [pageSize]="5"
               (page)="onPageChange($event)"
               showFirstLastButtons>
</mat-paginator>
